

.navbar .nav-link {
  color: #fff !important;
}
.navbar{
    background-color: rgb(64, 58, 99)!important;
    .navbar-brand{
      img{
        max-height: 50px;
      }
    }
    .link{
      display: flex;
      align-items: center;
    }
    .icon{
      margin: 5px;
      color: white;
    }
}